/* Login.css */
.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.login-form input {
    width: 100%;
    padding: 0.6rem 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #007bff;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #e28743;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #c36116;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding: 0.6rem 2.5rem 0.6rem 1rem;
    /* add right padding for icon */
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    /* ensure padding doesn't cause overflow */
    transition: border-color 0.3s ease;
}

.password-wrapper input:focus {
    border-color: #007bff;
    outline: none;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.3rem;
    color: #555;
    background-color: white;
    padding-left: 4px;
}

.logo-wrapper {
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-logo {
    width: 100px;
    height: 50px;
}